
//@for $i from 1 to 6 {
//  h#{$i}{
//    color: map-get($colors, $i);
//  }
//}


@each $x, $color in $colors {
  h#{$x}{
    color: #{$color};
    font-family: $fontFamily;
  }
}

h1:before { content: "#{$stringA}"; }
h1:after { content: "#{$stringB}"; }

@keyframes colorChange {
  25% { color: red; }
  50% { color: blue; }
  75% { color: green; }
  100% { color: black; }
}

.container {
  @include center;
  h1 {
    color: black;
    animation: colorChange 4s infinite linear;
  }
  h1:before, h1:after {
    content: none;
  }
  p {
    font: {
      weight: 500;
      size: 12.5px;
      family: Roboto, sans-serif;
    }
  }
}
